.add-cyber-button {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
}

button {
    cursor: pointer;
    margin: 0.2rem;
    padding: 0.5rem, 1rem;
    border-style: hidden;
    border-radius: 2em;
    cursor: pointer;
    background-color: rgb(67, 2, 110);
    color: white;
    height: 2.5rem;
    width: 10rem;
    font-size: 1.5rem;
}

button:hover {
    background-color: rgb(21, 4, 46);
}

/*for the loading animation*/
.content-col > svg {
    margin-top: 0;
    margin-right: auto;
    margin-left:auto;
    margin-bottom: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.outer-table-wrapper {
    display: flex;
    margin-top: 0px;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 10px, 10px, 5px, rgb(3, 53, 7);
}


div.cybers-table.table-wrapper {
    width: 100%;
    background-color: rgb(3, 3, 63);
    padding: 5px;
    max-height: 50vh;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
  }

table {
    width: 100%;
    border-collapse: collapse;
    /* overflow: hidden; */
  }

th, td {
    height: 2rem;
    padding: 1rem;
}

th {
    position: sticky;
    top: 0px;
    text-align: left;
    font-size: 1.5rem;
    border-bottom: 0;
}

thead {
    position: sticky;
    top: 0px;
    background-color: rgb(1, 1, 22);
}


tbody > tr {
    border-top: 0px;
    border-bottom: 2px solid black;
    overflow: hidden;
  }


  @media screen and (max-width: 480px) {
    div.content-col > div{
        display: flex;  
        flex-direction: column;
        flex-basis: 100%;
      }

      button {
        height: 2rem;
        font-size: 1rem;
        margin: 0.5rem;
      }

      th, td {
        height: 1.5rem;
        padding: 0.5rem;
    }

    th {
        font-weight: lighter;
        font-size: 1rem;

    }
  }

