.add-cyber-button {
    display: flex;
    justify-content: center;
    /* border: 40px; */
    /* align-items: center; */
    /* align-items: center; */
    /* flex-direction: row; */
    /* align-self: center; */
    width: 80%;
}

button {
    margin: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem, 1rem;
    border-style: hidden;
    border-radius: 2em;
    cursor: pointer;
    background-color: rgb(1, 1, 44);
    color: white;
    font-size: 1.2rem;
    /* fill: cadetblue; */
}

button:hover {
    background-color: rgb(21, 4, 46);
}

.content-col > svg {
    margin-top: 2rem;
    margin-left:35%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.outer-table-wrapper {
    display: flex;
    width: 80%;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 10px, 10px, 5px, rgb(3, 53, 7);
}


div.cybers-table.table-wrapper {
    width: 100%;
    background-color: rgb(3, 3, 63);
    padding: 5px;
    max-height: 50vh;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
  }

table {
    width: 100%;
    border-collapse: collapse;
    /* overflow: hidden; */
  }

th, td {
    height: 2rem;
    padding: 1rem;
}

th {
    position: sticky;
    top: 0px;
    text-align: left;
    font-size: 1.5rem;
    border-bottom: 0;
}

thead {
    position: sticky;
    top: 0px;
    background-color: black;
}


tbody > tr {
    border-top: 0px;
    border-bottom: 2px solid black;
    overflow: hidden;
  }


